<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wystąpił błąd - PetMarket</title>
    <link rel="stylesheet" href="/css/public-styles.css">
</head>
<body>

<div class="error-card">
    <div class="error-icon">🦴</div>
    <h1>Ups! Coś poszło nie tak...</h1>

    <div style="text-align: center; margin-top: 50px;">
        <h1 style="color: red;">403 - Odmowa dostępu</h1>
        <p>Niestety, Twoje uprawnienia są niewystarczające, aby zobaczyć tę stronę.</p>
    </div>

    <a th:href="@{/static}" class="btn-back">Wróć na stronę główną</a>
</div>

</body>
</html>