<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wystąpił błąd - PetMarket</title>
    <link rel="stylesheet" href="/css/public-styles.css">
</head>
<body>

<div class="error-card">
    <div class="error-icon">🦴</div>
    <h1>Ups! Coś poszło nie tak...</h1>

    <p>
        Przepraszamy, ale wystąpił nieoczekiwany problem. Nasz zespół techniczny został powiadomiony (lub właśnie goni uciekającego chomika).
    </p>

    <div class="error-details">
        Status: <span th:text="${status}">500</span><br>
        Błąd: <span th:text="${error}">Internal Server Error</span>
    </div>

    <a th:href="@{/static}" class="btn-back">Wróć na stronę główną</a>
</div>

</body>
</html>